.authenticate {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 90px 50px 0px 50px;
}

.auth_left {
  flex: 0.5;
  text-align: center;
}

.auth_right {
  flex: 0.5;
}

.auth_left>img {
  width: 400px;
  margin-top: 40px;
  filter: drop-shadow(1px 1px 1rem #ffffff5d);
  animation: back 5s infinite linear;
  transition: .3s;



}

@keyframes back {
  10% {
    filter: drop-shadow(1px 1px 1rem #ffdd005d);
  }

  50% {
    filter: drop-shadow(1px 1px 1rem #f560405d);


  }

  100% {
    filter: drop-shadow(1px 1px 1rem #e81cff5d);

  }

}

.auth_more {
  border-width: 2px;
  border-style: dotted;
  border-image: linear-gradient(45deg, #e81cff, #f56040, #ffdd00) 1;
  padding: 20px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 13px;
  text-align: center;
  width: 500px;
  background: linear-gradient(#212121, #000000);
}

.auth_more>span {
  font-weight: 500;
  font-size: 14px;
}

.auth_more>span>button {
  background: 0;
  border: 0;
  font-weight: bolder;
  color: #0095f6;
}

.auth_more>span>button:hover {
  cursor: pointer;
}

.list_L {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: flex-end;
  font-size: .8rem;
  height: 200px;
  margin-bottom: 10px;
  margin-top: -5rem;
}

.list_item {
  color: #ffffff7b;
}

.list_item:hover {
  border-bottom: 1px solid #ffffff7b;
  cursor: pointer;
}

.dropdown_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: .8rem;
}

.dropdown_container span {
  color: #ffffff7b;
}

#languages {
  margin-top: 8px;
  padding: 3px;
  background: #000;
  outline: none;
  color: #ffffff7b;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}