.avatar_box{
    width: 55px;
    height: 55px;
    aspect-ratio: 1/1;
    background-image: linear-gradient(30deg, #ff8800 25%, #D400C1 55%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    transition: .5s ease-in;
}
.avatar_box:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-image: linear-gradient(80deg, #ff8800 25%, #ad00d4 35%, #D400C1 25%);
}   
.avatar_profile_image{
    width:50px;
    height: 50px;
    border-radius: 50%;
    margin: 3px;
    /* border: 3px solid white; */
}
.carousel-status{
    padding: 16px 0px;
}
.carousel-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    height: 119px;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    position: relative;
    padding-left: 4rem;
    scroll-behavior: smooth;
}
.carousel-body::-webkit-scrollbar {
    display: none;
  }
.avatar_detail{
    margin-left: 20px;
    text-align: center;
}
.avatar_name{
    font-size: 12px;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 60px;
}
.check{
    position: relative;
    top: 25px;
    left: 20px;
}
.arrow-btn{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #f1f4f7;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.451);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    z-index: 10;
}
.arrow-btn:hover{
    opacity: 1;
}
.arrow-btn img{
    width: 10px;
    height: 10px;
   
}
.left-icon{
    left: 10px;
    top: 20px;
}
.right-icon{
    right: 10px;
    top: 20px;
   
}



