.post {
  width: 550px;
  margin: 30px 40px 50px 40px;
  border-bottom: 1px solid rgba(222, 222, 222, 0.217);
}

.post_header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.post_headerAuthor {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bolder;
}

.post_headerAuthor>span {
  color: grey;
  font-size: 15px;
}

.post_image>img {
  width: 100%;
  border-radius: 6px;
  border: 0.6px solid rgba(128, 128, 128, 0.516);
}

/* .post__footer {
} */

.post_footerIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.postIcon {
  padding: 7px;
  font-size: 2.8rem !important;
}

.postIcon:hover {
  color: #939393;
}

.postIcon:hover {
  cursor: pointer;
}

.postIcon {
  transition: color 0.2s ease-in-out;
}

.postIcon.liked {
  animation: zoomIn 0.2s ease-in-out;
  color: #FF3040;
}

@keyframes zoomIn {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

.text_A {
  display: flex;
  margin-left: -.6rem;
  position: relative;
}

textarea {
  border: none;
  outline: none;
  background-color: black;
  color: white;
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 4px;
  resize: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.post_P {
  margin-top: 2px;
  color: #0095f6;
}

.post_P:hover {
  color: white;
}

.emoji {
  color: #9b9b9b;
  margin-left: 5px;
  font-size: 18px;
}

.pick_emoji {
  position: absolute;
  left: 36rem;
  top: -26rem;
}

.pick_emoj_M {
  position: absolute;
  left: 2rem;
  top: -28.3rem;
}

.emoji_M {
  position: relative;
}

.modalclassNameforAPost {
  width: 70%;
  height: 92vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 12px;
  border: none;
  background-color: #000000;
  margin-top: 25px;
  border: none;
  z-index: 999;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.scrollable-div {
  height: 65vh;
  overflow: auto
}

.scrollable-div::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

.scrollable-div::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.close_btn {
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
}