.sidenav {
  display: flex;
  width: 100%;
  flex-direction: column;
  z-index: 1;
}
.main{
  border-right: 1px solid #ffffff3b;
  position: fixed;
  height: 100vh;
  width: 17.6%;
}

.sidenav_logo {
  width: 120px;
  margin: 25px;
}

.sidenav_buttons {
  display: flex;
  flex-direction: column;
}
.sidenav_buttonText{
  font-size: 18px;
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
}

.sidenav_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background: 0;
  border: 0;
  margin: 5px 10px 5px 10px;
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
  width: 100%;
  position: relative;
}
.up_arrow{
 position: relative;
 color: #ffffff81;
 border:1px solid #ffffff81;
 border-radius: 5px;
 left: 10.5rem;
 visibility: hidden;
}
.sidenav_button:hover .up_arrow{
  visibility: visible;
}

.sidenav_button:hover {
  cursor: pointer;
  width: 94%;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.128);
}

.sidenav_button > span {
  font-size: 18px;
  font-weight:lighter;
  margin-left: 10px;
}
.Noti_B::after {
  content: '1';
  width: 20px;
  height: 20px;
  background: #FF3040;
  position: absolute;
  top: 0;
  left: 2em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
}

.sidenav_more {
  margin-top: 18rem;
  position: fixed;
  width: 17.5%;
}

.logout_button {
  font-size: 15px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  background-color: rgba(255, 255, 255, 0.211);
  border: 0;
  padding: 10px;
}

.logout_button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.424);
}







