.sidenav {
  display: flex;
  width: 100%;
  flex-direction: column;
  z-index: 1;
}

.main {
  border-right: 1px solid #ffffff3b;
  position: fixed;
  height: 100vh;
  width: 17.6%;
  transition: width 0.5s ease-in-out;
  margin-left: -5px;
}

img {
  cursor: pointer;
}

.sidenav_logo {
  width: 120px;
  margin: 25px;
}

.sidenav_buttons {
  display: flex;
  flex-direction: column;
}

.sidenav_buttonText {
  font-size: 18px;
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
}

.sidenav_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background: 0;
  border: 0;
  margin: 5px 10px 5px 10px;
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
  width: 100%;
  position: relative;
}

.up_arrow {
  position: relative;
  color: #ffffff81;
  border: 1px solid #ffffff81;
  border-radius: 5px;
  left: 9.5rem;
  visibility: hidden;
}

.sidenav_button:hover .up_arrow {
  visibility: visible;
}

.sidenav_button:hover {
  cursor: pointer;
  width: 94%;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.128);
}

.sidenav_button1:hover {
  cursor: pointer;
  width: 94%;
  border-radius: 15px;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.128);
}

.sidenav_button>span {
  font-size: 18px;
  font-weight: lighter;
  margin-left: 10px;
}

.Menu_C:hover {
  background: rgba(255, 255, 255, 0.316) !important;
}


/* .Noti_B::after {
  content: '1';
  width: 20px;
  height: 20px;
  background: #FF3040;
  position: absolute;
  top: 0;
  left: 2em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
} */

.sidenav_more {
  margin-top: 18rem;
  position: fixed;
  width: 17.5%;
}

.log_p {
  color: white;
  font-size: 18px;
  text-transform: capitalize;
  margin-left: 10px;
}

.logout_button {
  font-size: 15px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  background-color: rgba(255, 255, 255, 0.211);
  border: 0;
  width: 200px;
  padding: 10px;
  margin-top: 20px;
}

.logout_button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.424);
}


/* ModalStyles.css */

.modalSearch {
  width: 20%;
  height: 100vh;
  margin: auto;
  outline: none;
  border-top-right-radius: 2rem;
  border-right: 1px solid #ffffff3b;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: -100%;
  top: 0;
  border-radius: 10px;
  padding: 12px;
  background-color: #000000;
  color: white;
  z-index: 999;
  transition: left 0.5s ease-in-out;
}

.modalSearch.modal-open {
  left: 2.6%;
}

h2 {
  margin-top: 0;
  padding: 1em;
}

.showsearchinput {
  background-color: rgba(255, 255, 255, 0.266);
  border: none;
  border-radius: 5px;
  width: 95%;
  height: 15px;
  margin-left: 10px;
  outline: none;
  color: white;
  padding: 20px;
  text-indent: 20px;
}


.showsearchinput::placeholder {
  color: #A8A8A8;
}

.search-box {
  display: flex;
  align-items: center;
  position: relative;
}

.clear_all {
  margin-top: 2px;
  color: #0095f6;
}

.clear_all:hover {
  color: white;
  cursor: pointer;
}

.search-icon,
.clear-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.search-icon {
  left: 20px;
  font-size: 20px !important;
}

.search_hr {
  border: 1px solid #ffffff1d;
  margin-top: 20px;
  position: relative;
  left: 10px;

}

.clear-icon {
  right: 20px;
  padding: 2px;
  font-size: 15px !important;
  background-color: #ffffffc0;
  color: black;
  border-radius: 50%;
}

.scrollable-div {
  height: 65vh;
  overflow: auto
}

.scrollable-div::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

.scrollable-div::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.modalCreate {
  width: 38%;
  height: 85vh;
  margin: auto;
  margin-top: 20px;
  display: flex;
  outline: none;
  flex-direction: column;
  border-radius: 10px;
  border: none;
  background-color: #262626;
  margin-top: 25px;
  border: none;
  z-index: 20;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.post-container {
  text-align: center;
}

.post-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-top: 10px;
}

.post-hr {
  border: 1px solid #ffffff1d;
  margin-top: 10px;
}

.post-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 650px;
}

.image-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.upload-icon {
  margin-bottom: 10px;
}

.upload-text {
  font-weight: 600;
  font-size: 18px;
}

.select-button {
  background-color: #0095F6;
  padding: 6px 25px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.file-input {
  display: none;
}

/* After Choose the IMG */
.postContainer {
  display: flex;
  margin: 10px 5px;
}

.postImage {
  width: 60%;
  height: 60vh;
  background-size: cover;
  object-fit: cover;
}

.postDetails {
  margin-left: 20px;
  width: 40%;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userName {
  font-weight: 600;
  font-size: 16px;
}

.textInputForPost {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  resize: vertical;
}

.createPostButton {
  margin-top: 10px;
  padding: 10px;
  background-color: #0095F6;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.view_profile:hover {
  background-color: rgb(18, 18, 18);
  cursor: pointer;
}
.create_box{
  z-index: 100;
}